@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  font-size: 150px;
  font-family: "Bellefair Regular", sans-serif;
}

.h2 {
  font-size: 100px;
  font-family: "Bellefair Regular", sans-serif;
}

.h3 {
  font-size: 56px;
  font-family: "Bellefair Regular", sans-serif;
}

.h4 {
  font-size: 32px;
  font-family: "Bellefair Regular", sans-serif;
}

.h5 {
  font-size: 28px;
  font-family: "Barlow Condensed Regular", sans-serif;
  letter-spacing: 4.75px;
}

.sh1 {
  font-size: 28px;
  font-family: "Bellefair Regular", sans-serif;
}

.sh2 {
  font-size: 14px;
  font-family: "Barlow Condensed Regular", sans-serif;
  letter-spacing: 2.35px;
}

.nav {
  font-size: 16px;
  font-family: "Barlow Condensed Regular", sans-serif;
  letter-spacing: 2.7px;
}

.body-text {
  font-size: 18px;
  font-family: "Barlow Regular", sans-serif;
}

a:hover {
  cursor: pointer;
}

.planet {
  margin: 10% auto;
  animation: slide 3s;
  z-index: 0;
}

.closed {
  display: none;
}

.test {
  animation: slide-in 1.5s;
}

.crew-appear {
  animation: appear 3s;
}

.text-appear {
  animation: appear 2s;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(-500px, -200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translate(500px, 0);
  }

  100% {
    transform: translate(114px);
  }
}

nav span {
  margin-right: 15px;
  margin-left: 40px;
}
